services/sfr/zdp-10000000109/xsd/ТипыВЗЛ_2014-01-01.xsd

<?xml version='1.0' encoding='UTF-8' standalone='yes'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://пф.рф/ВЗЛ/типы/2014-01-01" xmlns:УТ="http://пф.рф/унифицированныеТипы/2014-01-01" xmlns:АФ="http://пф.рф/АФ" version="2.0" targetNamespace="http://пф.рф/ВЗЛ/типы/2014-01-01" elementFormDefault="qualified">
  <xs:import namespace="http://пф.рф/унифицированныеТипы/2014-01-01" schemaLocation="../УнифТипы_2014-01-01.xsd"/>
  <xs:import namespace="http://пф.рф/АФ" schemaLocation="../ТипыОбщие.xsd"/>
  <xs:annotation>
    <xs:documentation>Общие типы данных для информационного обмена "Взаимодействие с застрахованными лицами"</xs:documentation>
    <xs:documentation>Рекомендуемый префикс для пространства имен http://пф.рф/ВЗЛ/типы/2014-01-01 - ВЗЛ</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="ТипКатегории">
    <xs:annotation>
      <xs:documentation>Категория застрахованного лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ТипСлужебнаяИнформацияВЗЛ">
    <xs:annotation>
      <xs:documentation>Тип для представления служебной информации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="АФ:ТипСлужебнаяИнформация">
        <xs:sequence>
          <xs:element name="ТерОрган" type="УТ:ТипТерриториальныйОрганПФР">
            <xs:annotation>
              <xs:documentation>Сведения о территориальном органе Фонда пенсионного и социального страхования Российской Федерации, в который подается заявление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Составитель" type="УТ:ТипОрганизация">
            <xs:annotation>
              <xs:documentation>Сведения об организации, составившей документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ТипТерриториальныйОрган">
    <xs:annotation>
      <xs:documentation>Тип для представления сведений о территориальном органе СФР</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Код">
        <xs:annotation>
          <xs:documentation>Код территориального органа СФР</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{3,6}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Наименование" type="xs:normalizedString">
        <xs:annotation>
          <xs:documentation>Наименование территориального органа СФР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Адрес" type="УТ:ТипАдресОбщий" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес территориального органа СФР</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ТипВидПенсии">
    <xs:annotation>
      <xs:documentation>Классификатор видов пенсии за назначением которой может обратится заявитель:
                1 - трудовая пенсия по старости;
                2 - трудовая пенсия по инвалидности;
                3 - трудовая пенсия по случаю потери кормильца;
                4 - пенсия за выслугу лет;
                5 - пенсия по старости;
                6 - пенсия по инвалидности;
                7 - пенсия по случаю потери кормильца;
                8 - социальная пенсия по инвалидности;
                9 - социальная пенсия по случаю потери кормильца;
                10 - социальная пенсия по старости;
                11 - страховая часть трудовой пенсии по старости;
                12 - страховая часть трудовой пенсии по старости за исключением фиксированного базового размера страховой части трудовой пенсии по старости;
                13 - страховая часть трудовой пенсии по старости с учетом п. 21 ст. 14 Федерального закона от 17.12.2001 № 173-ФЗ;
                14 - накопительная часть трудовой пенсии по старости;
                15 - накопительная часть трудовой пенсии по инвалидности;
                16 - доля страховой части трудовой пенсии по старости;
                17 - пенсия по инвалидности и трудовая пенсию по старости;
                18 - пенсия по случаю потери кормильца и трудовая пенсия по старости;
                19 - пенсия по случаю потери кормильца и социальная пенсия;
                20 - пенсия по случаю потери кормильца и пенсия по старости;
                21 - пенсия по случаю потери кормильца и пенсия по инвалидности;
                22 - пенсия по случаю потери кормильца и пенсия за выслугу лет.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="22"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ТипВидНазначения">
    <xs:annotation>
      <xs:documentation>Классификатор видов назначений, за которыми может обратится заявитель:
                1 - назначить страховую пенсию по старости с установлением фиксированной выплаты к указанной страховой пенсии
                2 - назначить страховую пенсию по инвалидности с установлением фиксированной выплаты к указанной страховой пенсии;
                3 - назначить страховую пенсию по случаю потери кормильца с установлением фиксированной выплаты к указанной страховой пенсии;
                4 - назначить страховую пенсию по старости;
                5 - установить фиксированную выплату к страховой пенсии по старости;
                6 - назначить долю страховой пенсии по старости;
                7 - назначить накопительную пенсию.
                8 - назначить пенсию за выслугу лет по государственному пенсионному обеспечению;
                9 - назначить пенсию по старости по государственному пенсионному обеспечению;
                10 - назначить пенсию по инвалидности по государственному пенсионному обеспечению;
                11 - назначить пенсию по случаю потери кормильца по государственному пенсионному обеспечению;
                12 - назначить социальную пенсию по старости;
                13 - назначить социальную пенсию по инвалидности
                14 - назначить социальную пенсию по случаю потери кормильца;
                15 - назначить пенсию, предусмотренную Законом Российской Федерации от 19 апреля 1991 г. № 1032-1 “О занятости населения в Российской Федерации”;
                16 - назначить пенсию по старости, предусмотренную Законом Российской Федерации от 15 мая 1991 г. № 1244-1 “О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС”;
                17 - установить федеральную социальную доплату к пенсии (если общая сумма моего материального обеспечения не достигнет величины прожиточного минимума пенсионера в субъекте Российской Федерации);</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- @deprecated -->
  <xs:complexType name="ТипАнкетаЗаявл">
    <xs:annotation>
      <xs:documentation>Тип для представления анкетных данных застрахованного лица для заявлений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="УТ:ГрАнкетныеДанныеРожд">
        <xs:annotation>
          <xs:documentation>Группа элементов для описания основных анкетных данных: ФИО, Пол, дата рождения</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:element name="МестоРождения" type="УТ:ТипМестоРождения" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Гражданство" minOccurs="0" type="УТ:ТипГражданство">
        <xs:annotation>
          <xs:documentation>Сведения о гражданстве</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="АдресРегистрации" type="УТ:ТипАдресОбщий" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес места регистрации (места проживания) застрахованного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="АдресПребывания" type="УТ:ТипАдресОбщий" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес места пребывания застрахованного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="АдресФактический" type="УТ:ТипАдресОбщий" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес места фактического проживания застрахованного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Телефон" type="УТ:ТипНомерТелефона" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер телефона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="АдресЭлПочты" type="xs:normalizedString" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес электронной почты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="СтраховойНомер" type="УТ:ТипСтраховойНомер">
        <xs:annotation>
          <xs:documentation>Страховой номер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ТипАнкетаВЗЛ">
    <xs:annotation>
      <xs:documentation>Тип для представления анкетных данных застрахованного лица для заявлений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="УТ:ГрАнкетныеДанные">
        <xs:annotation>
          <xs:documentation>Группа элементов для описания основных анкетных данных: ФИО, Пол, дата рождения</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:element ref="УТ:СтраховойНомер" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страховой номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="УТ:МестоРождения" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="УТ:Гражданство" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Гражданство</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:group ref="УТ:ГрАдресаФЛ">
        <xs:annotation>
          <xs:documentation>Группа элементов со сведениями об адресах заявителя</xs:documentation>
        </xs:annotation>
      </xs:group>
      <xs:element ref="УТ:Телефоны" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень контактных номеров телефона</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ТипСписокЭД">
    <xs:annotation>
      <xs:documentation>Тип для представления списка документов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Документ" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документ предоставляемый страхователем</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Наименование" type="xs:normalizedString">
              <xs:annotation>
                <xs:documentation>Наименование документа</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ЭлектронныйОбраз">
              <xs:annotation>
                <xs:documentation>Электронный образ документа</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:base64Binary">
                    <xs:attribute name="ИмяФайла" type="xs:normalizedString">
                      <xs:annotation>
                        <xs:documentation>Имя файла</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ТипЗаявлениеВЗЛ">
    <xs:annotation>
      <xs:documentation>Тип, содержащий структуру элементов общую для заявлении застрахованного лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ТерОрган" type="xs:normalizedString">
        <xs:annotation>
          <xs:documentation>Сведения о территориальном органе Фонда пенсионного и социального страхования Российской Федерации, в который подается заявление</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ДатаЗаполнения" type="xs:date">
        <xs:annotation>
          <xs:documentation>Дата заполнения заявления</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ТипЗаявление">
    <xs:annotation>
      <xs:documentation>Тип, содержащий структуру элементов общую для заявлении застрахованного лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Анкета" type="ТипАнкетаЗаявл">
        <xs:annotation>
          <xs:documentation>Анкетные данные застрахованного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="УдостоверяющийДокумент" type="УТ:ТипУдостоверяющийДокумент" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Удостоверяющий документ застрахованного лица, с указанием срока его действия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Представитель" minOccurs="0" type="УТ:ТипПредставитель">
        <xs:annotation>
          <xs:documentation>Сведения о представителе застрахованного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ТерОрган" type="xs:normalizedString">
        <xs:annotation>
          <xs:documentation>Сведения о территориальном органе Фонда пенсионного и социального страхования Российской Федерации, в который подается заявление</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ДатаЗаполнения" type="xs:date">
        <xs:annotation>
          <xs:documentation>Дата заполнения заявления</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ТипСписокПрилагаемыхДокументов">
    <xs:annotation>
      <xs:documentation>Тип для представления списка прилагаемых к заявлению документов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Документ" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документе</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>Тип, описывающий сведения о документе</xs:documentation>
          </xs:annotation>
          <xs:attribute name="НомерПП" type="xs:positiveInteger" use="required">
            <xs:annotation>
              <xs:documentation>Номер по порядку</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Наименование" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>Наименование документа</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="ГрСведенияДоставка">
    <xs:annotation>
      <xs:documentation>Группа, содержащая сведения о доставке почты заявителю</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ДатаДоставки">
        <xs:annotation>
          <xs:documentation>Дата начала доставки пенсии</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:date">
            <xs:pattern value=".{8}01"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="СпособДоставки">
        <xs:annotation>
          <xs:documentation>Способ доставки пенсии: 1 - через организацию почтовой связи; 2 - через кредитную организацию; 3 - через иную организацию, занимающуюся доставкой пенсии</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Адрес" type="УТ:ТипАдресОбщий" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес почтовой, либо иной организации, занимающейся доставкой пенсии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="НаименованиеОрганизации" type="xs:normalizedString" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование кредитной, либо иной организации, занимающейся доставкой пенсии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="НомерСчета" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер счета получателя пенсии в указанной кредитной организации</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="ТипПрежняяРегистрация">
    <xs:annotation>
      <xs:documentation>Тип Прежняя регистрация</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GUIDПредыдущейАнкеты" type="АФ:ТипGUID">
        <xs:annotation>
          <xs:documentation>GUID документа с предыдущей анкетой</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ДатаПредыдущейАнкеты" type="xs:date">
        <xs:annotation>
          <xs:documentation>Дата предыдущей анкеты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="НомерРеализации" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Номер реализации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="АнкетуПередал" type="УТ:ТипОрганизация">
        <xs:annotation>
          <xs:documentation>Организация передавшая анкету</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="АнкетуПринял" type="УТ:ТипОрганизация">
        <xs:annotation>
          <xs:documentation>Организация принявшая анкету</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ТипВидПовышенияФВ">
    <xs:annotation>
      <xs:documentation>Вид повышения при указании размера страховой пенсии суммарно с размером фиксированной выплаты с повышениями. Возможные значения:
				1 - «повышения(ий) фиксированной выплаты к страховой пенсии»,
				2 - «повышения(ий) фиксированной выплаты к страховой пенсии, дополнительного увеличения повышения(ий) фиксированной выплаты к страховой пенсии»</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ТипКатегорияЕДВ">
    <xs:annotation>
      <xs:documentation>Сведения о категории граждан, имеющих право на получение ЕДВ, к которой принадлежит заявитель и сведения о соответствующем нормативном документе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Код">
        <xs:annotation>
          <xs:documentation>Категория, по которой установлена ежемесячная денежная выплата. Возможные варианты:
						001 – Герой Советского Союза (п. 1, ст. 9.1 Закона Российской Федерации от 15.01.1993 № 4301-1)
						002 – Герой Российской Федерации (п. 1, ст. 9.1 Закона Российской Федерации от 15.01.1993 № 4301-1)
						003 – Полный кавалер ордена Славы (п. 1, ст. 9.1 Закона Российской Федерации от 15.01.1993 № 4301-1)
						004 – Член семьи умершего (погибшего) Героя Советского Союза, Героя Российской Федерации или полного кавалера ордена Славы (п. 1, ст. 9.1 Закона Российской Федерации от 15.01.1993 № 4301-1)
						005 – Герой Социалистического Труда (п. 1, ст. 6.2 Федерального закона от 09.01.1997 № 5-ФЗ)
						006 – Полный кавалер ордена Трудовой Славы (п. 1, ст. 6.2 Федерального закона от 09.01.1997 № 5-ФЗ)
						007 – Герой Труда Российской Федерации (п. 1, ст. 6.2 Федерального закона от 09.01.1997 № 5-ФЗ)
						010 - Инвалиды войны (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						011 - Участники Великой Отечественной войны, ставшие инвалидами (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						012 - Военнослужащие и лица рядового и начальствующего состава органов внутренних дел, Государственной противопожарной службы, учреждений и органов уголовно-исполнительной системы, ставших инвалидами вследствие ранения, контузии или увечья, полученных при исполнении обязанностей военной службы (служебных обязанностей) (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						020 - Участники Великой Отечественной войны (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						040 - Военнослужащие, проходившие военную службу в воинских частях, учреждениях, военно-учебных заведениях, не входивших в состав действующей армии, в период с 22 июня 1941 года по 3 сентября 1945 года не менее шести месяцев, военнослужащие, награжденные орденами или медалями СССР за службу в указанный период (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						120 - Лица, работавшие в период Великой Отечественной войны на объектах противовоздушной обороны, местной противовоздушной обороны, на  строительстве оборонительных сооружений, военно-морских баз, аэродромов и других военных объектов в пределах тыловых границ действующих фронтов, операционных зон действующих флотов, на прифронтовых участках железных и автомобильных дорог, а также члены экипажей судов транспортного флота, интернированных в начале Великой Отечественной войны в портах других государств   (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						050 - Лица, награжденные знаком «Жителю блокадного Ленинграда» (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						030 - Ветераны боевых действий из числа лиц, указанных в пп.1-4 п. 1 ст. 3 Федерального закона от 12.01.1995 № 5-ФЗ «О ветеранах» (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						060 - Члены семей погибших (умерших) инвалидов войны, участников Великой Отечественной войны и ветеранов боевых действий (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						061 - Члены семей погибших в Великой Отечественной войне лиц из числа личного состава групп самозащиты объектовых и аварийных команд местной противовоздушной обороны, а также члены семей погибших работников госпиталей и больниц города Ленинграда (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						062 - Члены семей военнослужащих, лиц рядового и начальствующего состава органов внутренних дел, Государственной противопожарной службы, учреждений и органов уголовно-исполнительной системы и органов государственной безопасности, погибших при исполнении обязанностей военной службы (служебных обязанностей) (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						063 - Члены семей военнослужащих, погибших в плену, признанных в установленном порядке пропавшими без вести в районах боевых действий, со времени исключения указанных военнослужащих из списков воинских частей (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						064 - Родители и жены погибших военнослужащих погибших вследствие ранения, контузии или увечья, полученных при защите СССР или при исполнении обязанностей военной службы, либо вследствие заболевания, связанного с пребыванием на фронте (п. 1, ст. 23.1 Федерального закона от 12.01.1995 № 5-ФЗ)
						140 - Бывшие несовершеннолетние узники концлагерей, гетто, других мест принудительного содержания, созданных фашистами и их союзниками в период второй мировой войны, признанные инвалидами вследствие общего заболевания, трудового увечья и других причин (за исключением лиц, инвалидность которых наступила вследствие их противоправных действий) (п. 8, ст. 154 Федерального закона от 22.08.2004 № 122-ФЗ)
						150 - Бывшие несовершеннолетние узники концлагерей, гетто, других мест принудительного содержания, созданных фашистами и их союзниками в период второй мировой войны (п. 8, ст. 154 Федерального закона от 22.08.2004 № 122-ФЗ)
						081 - Инвалиды III группы (п. 1, ст. 28.1 Федерального закона от 24.11.1995 № 181-ФЗ)
						082 - Инвалиды II группы (п. 1, ст. 28.1 Федерального закона от 24.11.1995 № 181-ФЗ)
						083 - Инвалиды I группы (п. 1, ст. 28.1 Федерального закона от 24.11.1995 № 181-ФЗ)
						084 - Дети-инвалиды (п. 1, ст. 28.1 Федерального закона от 24.11.1995 № 181-ФЗ)
						091 - Граждане, получившие или перенесшие лучевую болезнь и другие заболевания, связанные с радиационным воздействием вследствие чернобыльской катастрофы или с работами по ликвидации последствий катастрофы на Чернобыльской АЭС (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						092 - Инвалиды вследствие чернобыльской катастрофы (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						093 - Граждане, принимавшие в 1986–1987 г. участие в работах по ликвидации последствий катастрофы на ЧАЭС, из числа лиц, указанных в пункте 3 части первой статьи 13 Закона Российской Федерации от 15.05.1991 г. № 1244-1 «О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС»  (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						094 - Граждане, принимавшие участие в 1988-1990 г. участие в работах по ликвидации последствий катастрофы на ЧАЭС, из числа лиц, указанных в пункте 4 части первой ст. 13 Закона Российской Федерации от 15.05.1991 г. № 1244-1 «О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС» (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						098 - Граждане, эвакуированные (в том числе выехавшие добровольно) в 1986 году из зоны отчуждения  (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						095 - Граждане, постоянно проживающие (работающие) на территории зоны проживания с правом на отселение (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						096 - Граждане, постоянно проживающие (работающие) на территории зоны проживания с льготным социально-экономическим статусом (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						097 - Граждане, постоянно проживающие (работающие) в зоне отселения до их переселения в другие районы (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						099 - Дети и подростки в возрасте до 18 лет, проживающие в зоне отселения и зоне с правом на  отселение, эвакуированные и переселенные из зон отчуждения, отселения, с правом на отселение, включая находившихся на день эвакуации во внутриутробном состоянии, дети первого и последующих поколений граждан, указанных в пунктах 1, 2, 3 и 6 части первой статьи 13 Закона РФ от 15.05.1991 № 1244-1, родившиеся после облучения вследствие катастрофы на ЧАЭС одного из родителей  (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						101 - Дети и подростки, страдающие болезнями вследствие чернобыльской катастрофы или обусловленными генетическими последствиями радиоактивного облучения одного из родителей, а также последующие поколения детей в случае развития у них заболеваний вследствие чернобыльской катастрофы или обусловленных генетическими последствиями радиоактивного облучения одного из родителей, ставшие инвалидами (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						102 - Дети и подростки, страдающие болезнями вследствие чернобыльской катастрофы или обусловленными генетическими последствиями радиоактивного облучения одного из родителей, а также последующие поколения детей в случае развития у них заболеваний вследствие чернобыльской катастрофы или обусловленных генетическими последствиями радиоактивного облучения одного из родителей (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						100 - Дети и подростки в возрасте до 18 лет, постоянно проживающие в зоне с льготным социально-экономическим статусом (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						142 - Рабочие и служащие, а также военнослужащие, лица начальствующего и рядового состава органов внутренних дел, Государственной противопожарной службы, получивших профессиональные заболевания, связанные с лучевым воздействием на работах в зоне отчуждения, ставшие инвалидами (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						141 - Рабочие и служащие, а также военнослужащих, лица начальствующего и рядового состава органов внутренних дел, Государственной противопожарной службы, получившие профессиональные заболевания, связанные с лучевым воздействием на работах в зоне отчуждения (п. 1, ст. 27.1 Закона Российской Федерации от 15.05.1991 № 1244-1)
						122 - Граждане, ставшие инвалидами в результате воздействия радиации вследствие аварии в 1957 году на производственном объединении «Маяк» и сбросов радиоактивных отходов в реку Теча (ст. 1 Федерального закона от 26.11.1998 № 175-ФЗ)
						121 - Граждане, получившие лучевую болезнь, другие заболевания, включенные в перечень заболеваний, возникновение или обострение которых обусловлены воздействием радиации вследствие аварии в 1957 году на производственном объединении «Маяк» и сбросов радиоактивных отходов в реку Теча (ст. 1 Федерального закона от 26.11.1998 № 175-ФЗ)
						123 - Граждане, принимавшие в 1957 – 1958 г. непосредственное участие в работах по ликвидации последствий аварии в 1957 г. на ПО «Маяк», из числа лиц, указанных в пункте 1 статьи 1 Федерального закона от 26.11.1998 № 175-ФЗ «О социальной защите граждан Российской Федерации, подвергшихся воздействию радиации вследствие аварии в 1957 году на производственном объединении «Маяк» и сбросов радиоактивных отходов в реку Теча» (ст. 1 Федерального закона от 26.11.1998 № 175-ФЗ)
						124 - Граждане, принимавшие в 1959 – 1961 г. непосредственное участие в работах по ликвидации последствий аварии в 1957 г. на ПО «Маяк», из числа лиц, указанных в пункте 2 статьи 1 Федерального закона от 26.11.1998 № 175-ФЗ «О социальной защите граждан Российской Федерации, подвергшихся воздействию радиации вследствие аварии в 1957 году на производственном объединении «Маяк» и сбросов радиоактивных отходов в реку Теча» (ст. 1 Федерального закона от 26.11.1998 № 175-ФЗ)
						128 - Граждане, эвакуированные (переселенные), а также добровольно выехавшие из населенных пунктов, подвергшихся радиационному загрязнению вследствие аварии в 1957 г. на ПО «Маяк», из числа лиц, указанных в пункте 3 статьи 1 Федерального закона от 26.11.1998 № 175-ФЗ «О социальной защите граждан Российской Федерации, подвергшихся воздействию радиации вследствие аварии в 1957 году на производственном объединении «Маяк» и сбросов радиоактивных отходов в реку Теча» (ст. 1 Федерального закона от 26.11.1998 № 175-ФЗ)
						125 - Граждане, проживающие в населенных пунктах, подвергшихся радиоактивному загрязнению вследствие аварии в 1957 году на производственном объединении «Маяк» и сбросов радиоактивных отходов в реку Теча, где средняя годовая эффективная доза облучения составляет в настоящее время свыше 1 мЗв (0,1 бэр) (дополнительно над уровнем естественного радиационного фона для данной местности) (ст. 1 Федерального закона от 26.11.1998 № 175-ФЗ)
						126 - Дети, не достигшие возраста 18 лет, проживающие в населенных пунктах, подвергшихся радиоактивному загрязнению вследствие аварии в 1957 году на производственном объединении «Маяк» и сбросов радиоактивных отходов в реку Теча, где средняя годовая эффективная доза облучения составляет в настоящее время свыше 1 мЗв (0,1 бэр) (дополнительно над уровнем естественного радиационного фона для данной местности) (ст. 1 Федерального закона от 26.11.1998 № 175-ФЗ)
						129 - Дети первого и второго поколения граждан, указанных в статье 1 Федерального закона от 26.11.98 № 175-ФЗ, страдающие заболеваниями вследствие воздействия радиации на их родителей (ст. 1 Федерального закона от 26.11.1998 № 175-ФЗ)
						132 - Граждане из подразделений особого риска, имеющие инвалидность (п. 2 Постановления Верховного Совета Российской Федерации от 27.12.1991 № 2123-1)
						131 - Граждане из подразделений особого риска, не имеющие инвалидности (п. 2 Постановления Верховного Совета Российской Федерации от 27.12.1991 № 2123-1)
						111 - Граждане, получившие суммарную (накопительную) эффективную дозу облучения, превышающую 25 сЗв (бэр) (ст. 4.1 Федерального закона от 10.01.2002 № 2-ФЗ)
						112 - Граждане, получившие суммарную (накопительную) эффективную дозу облучения более 5 сЗв (бэр), но не превышающую 25 сЗв (бэр) (ст. 4.1 Федерального закона от 10.01.2002 № 2-ФЗ)
						113 - Дети в возрасте до 18 лет первого и второго поколения граждан, получившие суммарную (накопительную) эффективную дозу облучения более 5 сЗв (бэр), страдающих заболеваниями вследствие радиационного воздействия на одного из родителей (ст. 4.1 Федерального закона от 10.01.2002 № 2-ФЗ)
					</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="ТипКатегории">
            <xs:enumeration value="001"/>
            <xs:enumeration value="002"/>
            <xs:enumeration value="003"/>
            <xs:enumeration value="004"/>
            <xs:enumeration value="005"/>
            <xs:enumeration value="006"/>
            <xs:enumeration value="007"/>
            <xs:enumeration value="010"/>
            <xs:enumeration value="011"/>
            <xs:enumeration value="012"/>
            <xs:enumeration value="020"/>
            <xs:enumeration value="040"/>
            <xs:enumeration value="120"/>
            <xs:enumeration value="050"/>
            <xs:enumeration value="030"/>
            <xs:enumeration value="060"/>
            <xs:enumeration value="061"/>
            <xs:enumeration value="062"/>
            <xs:enumeration value="063"/>
            <xs:enumeration value="064"/>
            <xs:enumeration value="140"/>
            <xs:enumeration value="150"/>
            <xs:enumeration value="081"/>
            <xs:enumeration value="082"/>
            <xs:enumeration value="083"/>
            <xs:enumeration value="084"/>
            <xs:enumeration value="091"/>
            <xs:enumeration value="092"/>
            <xs:enumeration value="093"/>
            <xs:enumeration value="094"/>
            <xs:enumeration value="098"/>
            <xs:enumeration value="095"/>
            <xs:enumeration value="096"/>
            <xs:enumeration value="097"/>
            <xs:enumeration value="099"/>
            <xs:enumeration value="101"/>
            <xs:enumeration value="102"/>
            <xs:enumeration value="100"/>
            <xs:enumeration value="142"/>
            <xs:enumeration value="141"/>
            <xs:enumeration value="122"/>
            <xs:enumeration value="121"/>
            <xs:enumeration value="123"/>
            <xs:enumeration value="124"/>
            <xs:enumeration value="128"/>
            <xs:enumeration value="125"/>
            <xs:enumeration value="126"/>
            <xs:enumeration value="129"/>
            <xs:enumeration value="132"/>
            <xs:enumeration value="131"/>
            <xs:enumeration value="111"/>
            <xs:enumeration value="112"/>
            <xs:enumeration value="113"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="НормативныйДокумент">
        <xs:annotation>
          <xs:documentation>Дата, №, наименование соответствующего Федерального закона (нормативного документа)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Наименование" type="УТ:ТипНепустаяСтрока">
              <xs:annotation>
                <xs:documentation>Наименование документа</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Реквизиты" type="УТ:ТипРеквизитыДокумента">
              <xs:annotation>
                <xs:documentation>Дата и номер Федерального закона, на основании которого установлена ежемесячная денежная выплата</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
